extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1(class="vibur-font") Bienvenido
		a(href="/login" class="right-space") Iniciar sesión
		div(class="hr")
		a(href="/signup" class="right-space") Registro